@import "./theme/variables";

// override bootstrap colors:
$success: #22b383;
$primary: #004d8c;
$dark: #333;
$danger: #da2048;
$info: #52cbdd;
$light: #f1f1f1;

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray-100: #d0dfeb;
$gray-200: #beceda;
$gray-400: #8e9aa3;
$gray-600: #6c757d;
$gray-800: #343a40;

$colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "light": $light,
    "gray": $gray-600,
    "gray-dark": $gray-800,
) !default;

$maxWidth: 1600px;
$container-max-widths: (
    "vsm": 320px,
    "sm": 540px,
    "md": 720px,
    "lg": 960px,
    "x": 1300px,
    "xl": 1640px,
    "xxl": 1700px,
    "xxxl": 1850px,
) !default;

$laptop-columns-widths: (
    "col-1": 8.33%,
    "col-2": 16.66%,
    "col-3": 25%,
    "col-4": 33.33%,
    "col-5": 41.66%,
    "col-6": 50%,
    "col-7": 58.33%,
    "col-8": 66.66%,
    "col-9": 75%,
    "col-10": 83.33%,
    "col-11": 91.66%,
    "col-12": 100%,
);
$normal-desktop-columns-widths: (
    "col-1": 16.66%,
    "col-2": 16.66%,
);
$tablet-desktop-columns-widths: (
    "col-1": 16.66%,
    "col-2": 25%,
    "col-3": 50%,
    "col-11": 100%,
    "col-12": 100%,
);
$large-mobile-columns-widths: (
    "col-1": 50%,
    "col-2": 50%,
    "col-3": 100%,
    "col-4": 100%,
    "col-5": 100%,
    "col-6": 100%,
    "col-7": 100%,
    "col-8": 100%,
    "col-9": 100%,
    "col-10": 100%,
    "col-11": 100%,
    "col-12": 100%,
);
$small-mobile-columns-widths: (
    "col-1": 50%,
    "col-2": 50%,
    "col-3": 100%,
    "col-4": 100%,
    "col-5": 100%,
    "col-6": 100%,
    "col-7": 100%,
    "col-8": 100%,
    "col-9": 100%,
    "col-10": 100%,
    "col-11": 100%,
    "col-12": 100%,
);
$very-small-mobile-columns-widths: (
    "col-1": 50%,
    "col-2": 50%,
    "col-3": 100%,
    "col-4": 100%,
    "col-5": 100%,
    "col-6": 100%,
    "col-7": 100%,
    "col-8": 100%,
    "col-9": 100%,
    "col-10": 100%,
    "col-11": 100%,
    "col-12": 100%,
);
