/*Laptop Device :1200*/
@media (min-width: 1200px) and (max-width: 1500px) {
    @each $name, $value in $laptop-columns-widths {
        .#{$name} {
            width: $value;
        }
    }
}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    @each $name, $value in $normal-desktop-columns-widths {
        .#{$name} {
            width: $value;
        }
    }
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    @each $name, $value in $tablet-desktop-columns-widths {
        .#{$name} {
            width: $value;
        }
    }
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
    @each $name, $value in $large-mobile-columns-widths {
        .#{$name} {
            width: $value;
        }
    }
}

// /* small mobile :320px. */
// @media (max-width: 767px) {
//     @each $name, $value in $small-mobile-columns-widths {
//         .#{$name} {
//             width: $value;
//             // margin: auto;
//         }
//     }
// }

// /* very small mobile :320px. */
// @media (max-width: 270px) {
//     @each $name, $value in $very-small-mobile-columns-widths {
//         .#{$name} {
//             width: $value;
//             // margin: auto;
//         }
//     }
// }
