$color_primary: #eb3e32; //header, buttons, links ...
$color_primary_hot: #d52115; //badges, labels ...
$color_secondary: #363f4d; //buttons ...
$color_info: #586985; //buttons ...
$color_terinary: #bfbfbf; //footer, cards ...
$color_light: #f7f7f7; //body, background ...
$color_light_gray: #ebebeb; //borders ...
$color_social: #eb3b60;
$color_borders: #eceff8;
$color_base: #fff;
$color_primary_text: #7a7a7a;
$color_selection: #91b2c3;
$color_cartbutton: #37475b;
$color_text: #363636;
$color_text_theme: #f10;
$color_label: #626262;
$color_responsive_gray: #606060;
